* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row-center-start{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


.row-start-start{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.row-start-center{
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
